:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --header-color: #212121;
  --content-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --silver-backgr: #f5f4fa;
  --dark-backgr: #2f303a;
  --btm-hover: #188ce8;
  --header-line: #ececec;
  --work-card-border: #eeeeee;
  --padding-value: 94px;
  --padding-value-secondary: 60px;
  --hero-bkg-color: #c4c4c4;
  --social-link-color: #afb1b8;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

body {
  font-family: var(--main-font);
  color: var(--content-color);
}

/*@import "./base/header";*/
.container {
  padding-left: 15px;
  padding-right: 15px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 450px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 738px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.section {
  padding-top: var(--padding-value);
  padding-bottom: var(--padding-value);
}

.base-btm {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.base-btm:hover {
  background: var(--btm-hover);
}

.base-btm--subscribe-btm {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
}

.base-btm--subscribe-btm svg {
  margin-left: 10px;
}

.base-btm--order-service-btm {
  margin: 0 auto;
  padding: 10px 32px;
}

.base-btm--order-service-btm:hover, .base-btm--order-service-btm:focus {
  color: var(--white-color);
  background: var(--btm-hover);
}

.base-btm--modal-submit-btm {
  line-height: 1.76;
  align-self: center;
  padding: 10px 50px;
}

.base-btm--modal-submit-btm:hover, .base-btm--modal-submit-btm:focus {
  background: var(--btm-hover);
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover, .logo:focus {
  color: var(--accent-color);
}

.logo--ligt-theme {
  color: var(--header-color);
}

.logo--dark-theme {
  color: var(--white-color);
}

@media screen and (max-width: 1199px) {
  .logo {
    font-size: 24px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

/*
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  animation-duration: 3000ms;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &--ligt-theme {
    color: var(--header-color);
  }

  &--dark-theme {
    color: var(--white-color);
  }
}

*/
.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-list__link {
  display: flex;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__link--dark {
  box-sizing: border-box;
  flex-basis: calc(100% / 4 - 10px);
  background: rgba(255, 255, 255, 0.1);
}

.social-list__link--footer + .social-list__link--footer {
  margin-left: 10px;
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: var(--content-color);
  fill: var(--social-link-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: var(--white-color);
}

.social-list__icon--white {
  fill: var(--white-color);
}

.secondary-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .secondary-title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

header {
  background: var(--white-color);
  border-bottom: 1px solid var(--header-line);
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-contacts {
  margin-left: auto;
}

.header .header-contacts {
  align-items: center;
}

.header-contacts__icon svg:hover,
.header-contacts__icon svg:focus {
  fill: var(--accent-color);
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
  .header-contacts {
    display: none;
  }
}

.nav-list__links {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--header-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__links:hover, .nav-list__links:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .nav-list__links {
    font-size: 14px;
    line-height: 1.14px;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .burger-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .nav-list {
    display: flex;
  }
  .nav-list {
    margin-left: 88px;
  }
  .nav-list--item:not(:last-child) {
    margin-right: 50px;
  }
  .header-contacts {
    margin-left: 84px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts--item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    display: flex;
  }
  .nav-list {
    margin-left: 93px;
  }
  .header-contacts {
    margin-left: auto;
  }
  .header-contacts--item:not(:last-child) {
    margin-right: 50px;
  }
}

.burger-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}

.burger-btn_icon:hover {
  fill: var(--accent-color);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100vw;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-right: 40px;
  padding-left: 40px;
  background-color: var(--white-color);
  transform: translateY(-100%) translateX(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 50;
}

.mobile-menu__nav-link {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18px;
  letter-spacing: 0.02em;
  color: var(--header-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__nav-link:hover, .mobile-menu__nav-link:focus {
  color: var(--accent-color);
}

.mobile-menu__nav-link--item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__contacts {
  margin-top: 302px;
  margin-bottom: 64px;
}

.mobile-menu__close-btm {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  padding: 0;
}

.mobile-menu__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18px;
  letter-spacing: 0.02em;
  color: var(--content-color);
}

.mobile-menu__tel:hover, .mobile-menu__tel:focus {
  color: var(--accent-color);
}

.mobile-menu__tel--item {
  margin-bottom: 32px;
}

.mobile-menu__email {
  font-size: 24px;
  line-height: 1.17px;
  letter-spacing: 0.02em;
  color: var(--content-color);
}

.mobile-menu__email:hover, .mobile-menu__email:focus {
  color: var(--accent-color);
}

.mobile-menu__social-link-list {
  display: flex;
}

.mobile-menu__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-menu__social-link:hover, .mobile-menu__social-link:focus {
  color: var(--btm-hover);
}

.mobile-menu__social-link--item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu--current {
  color: var(--accent-color);
}

.is-open {
  transform: translateY(0) translateX(-50%);
}

.contact-links {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--content-color);
  display: inline-flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-links__icon {
  fill: currentColor;
  margin-right: 10px;
}

.contact-links:hover, .contact-links:focus {
  fill: var(--accent-color);
  color: var(--accent-color);
}

.current {
  position: relative;
  color: var(--accent-color);
  font-size: 66;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--accent-color);
}

/*
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .mobile-menu {
    display: none;
  }
  .nav-list {
    display: flex;
  }
}

*/
/**desk/

.contact-links {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--content-color);

  display: inline-flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &__icon {
    fill: currentColor;
    margin-right: 10px;
  }
  &:hover,
  &:focus {
    fill: var(--accent-color);
    color: var(--accent-color);
  }
}

/*

.header {
  display: flex;
  align-items: center;

  & .container {
    display: flex;
    align-items: center;
  }
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  margin-left: 93px;

  &--item:not(:last-child) {
    margin-right: 50px;
  }


}

.current {
  position: relative;
  color: var(--accent-color);
  font-size: 66;

  &::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--accent-color);
  }
}

.header-contacts {
  margin-left: auto;

  .header & {
    display: flex;
    align-items: center;
  }

  &__icon svg:hover,
  &__icon svg:focus {
    fill: var(--accent-color);
    color: var(--accent-color);
  }
}

.contact-links {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--content-color);

  display: inline-flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &__icon {
    fill: currentColor;
    margin-right: 10px;
  }
  &:hover,
  &:focus {
    fill: var(--accent-color);
    color: var(--accent-color);
  }
}

*/
.hero-backgr {
  background: var(--dark-backgr);
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--hero-bkg-color);
  text-align: center;
  padding-top: 118px;
  padding-bottom: 198px;
}

.main-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .main-title {
    margin-bottom: 40px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transform: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden.modal {
  transform: translate(-50%, -50%) scale(0.1);
}

@media screen and (max-width: 767px) {
  .hero-backgr {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero480@1x.jpg");
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero-backgr {
    background-image: url("../images/hero/hero480@2x.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-backgr {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero768@1x.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero-backgr {
    background-image: url("../images/hero/hero768@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero-backgr {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero1600@1x.jpg");
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-backgr {
    background-image: url("../images/hero/hero1600@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .main-title {
    font-size: 26px;
    line-height: 1.36;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 490px;
  height: auto;
  min-height: 609px;
  width: 100%;
  padding: 40px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1) rotateZ(360deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
}

.modal__close-btm {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.close-btm-svg:hover {
  fill: var(--accent-color);
}

.close-btm-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--header-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.modal-form__title {
  font-style: 700;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  white-space: normal;
  overflow-wrap: normal;
  text-align: center;
  color: var(--header-color);
}

.modal-form--field {
  margin-bottom: 10px;
}

.modal-form__input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.modal-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__input--wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-comments-wrapper {
  margin-bottom: 20px;
}

.modal-form-message {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message::placeholder {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-check-desck {
  display: flex;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  overflow-wrap: normal;
  align-items: center;
  margin-bottom: 30px;
  color: var(--content-color);
}

.modal-form-check-desck::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid var(--header-color);
  margin-right: 8px;
}

.modal-form-consent:checked + .modal-form-check-desck::before {
  background-color: var(--accent-color);
  background-image: url("../images/checkmark-1.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-color: var(--accent-color);
}

.modal-form-consent:focus + .modal-form-check-desck::before {
  border: 1px solid var(--accent-color);
}

.advantages-section {
  padding-top: var(--padding-value-secondary);
  padding-bottom: var(--padding-value-secondary);
}

.advantages-svg-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 30px;
  background: var(--silver-backgr);
  border-radius: 4px;
}

.advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-color);
  margin-bottom: 10px;
}

.advantages-description {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .advantages-svg-wrapper {
    max-width: 450px;
    min-height: 120px;
  }
  .advantages-title {
    text-align: center;
  }
  .advantages-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-svg-wrapper {
    max-width: 354px;
    min-height: 120px;
  }
  .advantages-list {
    display: flex;
    margin-left: -30px;
    flex-wrap: wrap;
  }
  .advantages-section {
    padding-top: var(--padding-value);
    padding-bottom: var(--padding-value);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages-item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
  .advantages-item:nth-child(1) {
    margin-bottom: 30px;
  }
  .advantages-item:nth-child(2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-svg-wrapper {
    min-width: 270px;
    min-height: 120px;
  }
  .advantages-item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .what-we-do {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .what-we-do {
    padding-bottom: var(--padding-value);
  }
  .what-we-do__list {
    display: flex;
    margin-left: -30px;
  }
  .what-we-do__item {
    position: relative;
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
  }
  .what-we-do__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
  }
  .what-we-do__title--wrapper {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
  }
}

.team-section-bkr {
  background: var(--silver-backgr);
}

.team-list > li {
  background: var(--white-color);
}

.team-list__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  margin-bottom: 10px;
}

.team-list__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team-list--item {
  padding-top: 30px;
  padding-bottom: 24px;
}

.team-item--wrapper {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team-item--wrapper:not(:last-child) {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .team-list--item {
    padding-bottom: 30px;
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
  .team-item--wrapper {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-item--wrapper:nth-child(1) {
    margin-bottom: 30px;
  }
  .team-item--wrapper:nth-child(2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-item--wrapper {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
  }
}

/*

.team-list {
  display: flex;
  margin-left: -30px;

  & > li {
    background: var(--white-color);
  }

  &--item {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 32px;
    padding-left: 32px;
  }

  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-color);
    margin-bottom: 10px;
  }

  &__position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
  }
}

.team-item--wrapper {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

*/
.regular-customers-section {
  padding-top: var(--padding-value);
  padding-bottom: var(--padding-value);
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  border: 1px solid var(--social-link-color);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover, .customers-link:focus {
  border-color: var(--accent-color);
}

.customers-list-icon {
  fill: var(--social-link-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover .customers-list-icon,
.customers-link:focus .customers-list-icon {
  fill: var(--accent-color);
}

.regular-customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.customers-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  width: calc((100% - 30px) / 2);
  flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .regular-customers-list {
    display: flex;
    flex-wrap: wrap;
  }
  .customers-list-item {
    box-sizing: border-box;
    width: calc((100% - 30px * 2) / 3);
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .regular-customers-list {
    display: flex;
    justify-content: space-between;
  }
  .customers-list-item {
    flex-wrap: nowrap;
    box-sizing: border-box;
    width: calc((100% - 30px * 5) / 6);
    flex-basis: calc(100% / 6 - 30px);
    margin-left: 30px;
  }
}

footer {
  background: var(--dark-backgr);
  padding-top: 60px;
  padding-bottom: 60px;
}

footer .social-list {
  margin-bottom: 70px;
}

/*
social-list__link--footer + social-list__link--footer {
  margin-left: 10px;
}
*/
.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
  margin-top: 20px;
  text-align: center;
  margin-bottom: 60px;
}

.footer-item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-contacts {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts:hover, .footer-contacts:focus {
  color: var(--accent-color);
}

.footer-content-item,
.mailing {
  text-align: center;
}

.join {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--white-color);
}

.mailing {
  /*
  &--wrapper {
    display: flex;
    flex-wrap: wrap;
  }
 */
}

.mailing__input {
  width: 358px;
  height: 50px;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.mailing__input::placeholder {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding: 15px 16px;
  color: rgba(255, 255, 255, 0.6);
}

.mailing__input:focus {
  color: var(--white-color);
  padding: 15px 16px;
}

.mailing__input:not(:placeholder-shown) {
  color: var(--white-color);
  padding: 15px 16px;
}

@media screen and (max-width: 1199px) {
  .mailing__input {
    display: block;
    margin: 0 auto;
  }
  .base-btm--subscribe-btm {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .wrapper-for-tablet {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .footer-content {
    display: flex;
    align-items: baseline;
  }
  .footer-content-item + .footer-content-item {
    margin-left: 70px;
  }
  .mailing {
    margin-left: 93px;
  }
  .base-btm--subscribe-btm {
    margin-left: 12px;
  }
}

/*



.social-links {
  display: flex;
}

.footer-content-item + .footer-content-item {
    margin-left: 70px;
  }


.mailing {
  margin-left: 93px;

  &--wrapper {
    display: flex;
  }

  &__input {
    width: 358px;
    height: 50px;

    background: #2f303a;

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    margin-right: 12px;

    &::placeholder {
      font-family: inherit;
      font-size: 12px;
      line-height: 1.25;
      letter-spacing: 0.03em;
      padding: 15px 16px;

      color: rgba(255, 255, 255, 0.6);
    }

    &:focus {
      color: var(--white-color);
      padding: 15px 16px;
    }

    &:not(:placeholder-shown) {
      color: var(--white-color);
      padding: 15px 16px;
    }
  }
}

*/
.list-works-btm {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.works-btm-item:not(:last-child) {
  margin-right: 8px;
}

.works-overlay-wrapper {
  position: relative;
  overflow: hidden;
}

.works-overlay-description {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--white-color);
  padding: 77px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-overlay-link-wrapper:hover .works-overlay-description,
.works-overlay-link-wrapper:focus .works-overlay-description {
  transform: translateY(0%);
}

.work-card {
  box-sizing: border-box;
}

.work-card--listt > li {
  background: var(--white-color);
}

.work-card--content {
  border: 1px solid var(--work-card-border);
  border-top: none;
  padding: 20px 24px;
}

.work-card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--header-color);
  margin-bottom: 4px;
}

.work-card__description {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--content-color);
}

.work-card:hover, .work-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (max-width: 767px) {
  .works-btm-item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .list-works-btm {
    justify-content: center;
  }
  .list-works-btm {
    margin-bottom: 30px;
  }
  .works-overlay-description {
    padding: 49px 24px;
  }
  .work-card--list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .work-card {
    box-sizing: border-box;
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .list-works-btm {
    margin-bottom: 50px;
  }
  .works-overlay-description {
    padding: 63px 24px;
  }
  .work-card {
    box-sizing: border-box;
    flex-basis: calc(100% / 3 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

.filter-btm {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  background: var(--silver-backgr);
  border-radius: 4px;
  border: 0px;
  display: block;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btm:hover, .filter-btm:focus {
  color: var(--white-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*# sourceMappingURL=main.css.map */