:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --header-color: #212121;
  --content-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --silver-backgr: #f5f4fa;
  --dark-backgr: #2f303a;
  --btm-hover: #188ce8;
  --header-line: #ececec;
  --work-card-border: #eeeeee;
  --padding-value: 94px;
  --hero-bkg-color: #c4c4c4;
  --social-link-color: #afb1b8;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

body {
  font-family: var(--main-font);
  color: var(--content-color);
}

/*@import "./base/header";*/
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: var(--padding-value);
  padding-bottom: var(--padding-value);
}

.base-btm {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.base-btm:hover {
  background: var(--btm-hover);
}

.base-btm--subscribe-btm {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
}

.base-btm--subscribe-btm svg {
  margin-left: 10px;
}

.base-btm--order-service-btm {
  margin: 0 auto;
  padding: 10px 32px;
}

.base-btm--order-service-btm:hover, .base-btm--order-service-btm:focus {
  color: var(--white-color);
  background: var(--btm-hover);
}

.base-btm--modal-submit-btm {
  line-height: 1.76;
  align-self: center;
  padding: 10px 50px;
}

.base-btm--modal-submit-btm:hover, .base-btm--modal-submit-btm:focus {
  background: var(--btm-hover);
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  animation-duration: 3000ms;
}

.logo:hover, .logo:focus {
  color: var(--accent-color);
}

.logo--ligt-theme {
  color: var(--header-color);
}

.logo--dark-theme {
  color: var(--white-color);
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-list__link {
  display: flex;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__link--dark {
  box-sizing: border-box;
  flex-basis: calc(100% / 4 - 10px);
  background: rgba(255, 255, 255, 0.1);
}

.social-list__link--footer + .social-list__link--footer {
  margin-left: 10px;
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: var(--content-color);
  fill: var(--social-link-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: var(--white-color);
}

.social-list__icon--white {
  fill: var(--white-color);
}

.secondary-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  margin-bottom: 50px;
}

header {
  background: var(--white-color);
  border-bottom: 1px solid var(--header-line);
}

.header {
  display: flex;
  align-items: center;
}

.header .container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.nav-list--item:not(:last-child) {
  margin-right: 50px;
}

.nav-list__links {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__links:hover, .nav-list__links:focus {
  color: var(--accent-color);
}

.current {
  position: relative;
  color: var(--accent-color);
  font-size: 66;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--accent-color);
}

.header-contacts {
  margin-left: auto;
}

.header .header-contacts {
  display: flex;
  align-items: center;
}

.header-contacts__icon svg:hover,
.header-contacts__icon svg:focus {
  fill: var(--accent-color);
  color: var(--accent-color);
}

.contact-links {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--content-color);
  display: inline-flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-links__icon {
  fill: currentColor;
  margin-right: 10px;
}

.contact-links:hover, .contact-links:focus {
  fill: var(--accent-color);
  color: var(--accent-color);
}

.hero-backgr {
  background: var(--dark-backgr);
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-studio-bkg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--hero-bkg-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transform: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden.modal {
  transform: translate(-50%, -50%) scale(0.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1) rotateZ(360deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btm {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-btm-svg:hover {
  fill: var(--accent-color);
}

.close-btm-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--header-color);
}

/*
.modal-form__title {
  display: block;
  font-style: 700;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15px;
  text-align: center;
  letter-spacing: 0.03em;

  padding-bottom: 30px;

  color: var(--header-color);
}
*/
.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__title {
  display: block;
  font-style: 700;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15px;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 30px;
  color: var(--header-color);
}

.modal-form--field {
  margin-bottom: 10px;
}

.modal-form__input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.modal-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__input--wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-comments-wrapper {
  margin-bottom: 20px;
}

.modal-form-message {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message::placeholder {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-check-desck {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.7px;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: var(--content-color);
}

.modal-form-check-desck::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid var(--header-color);
  margin-right: 8px;
}

.modal-form-consent:checked + .modal-form-check-desck::before {
  background-color: var(--accent-color);
  background-image: url("../images/checkmark-1.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-color: var(--accent-color);
}

.modal-form-consent:focus + .modal-form-check-desck::before {
  border: 1px solid var(--accent-color);
}

.advantages-section {
  padding-top: var(--padding-value);
  padding-bottom: var(--padding-value);
}

.advantages-list {
  display: flex;
  margin-left: -30px;
}

.advantages-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}

.advantages-svg-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background: var(--silver-backgr);
  border-radius: 4px;
}

.advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-color);
  margin-bottom: 10px;
}

.advantages-description {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.what-we-do {
  padding-bottom: var(--padding-value);
}

.what-we-do__list {
  display: flex;
  margin-left: -30px;
}

.what-we-do__item {
  position: relative;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.what-we-do__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.what-we-do__title--wrapper {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.team-section-bkr {
  background: var(--silver-backgr);
}

.team-list {
  display: flex;
  margin-left: -30px;
}

.team-list > li {
  background: var(--white-color);
}

.team-list--item {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 32px;
  padding-left: 32px;
}

.team-list__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  margin-bottom: 10px;
}

.team-list__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team-item--wrapper {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.regular-customers-section {
  padding-top: var(--padding-value);
  padding-bottom: var(--padding-value);
}

.regular-customers-list {
  display: flex;
  margin-left: -30px;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--social-link-color);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover, .customers-link:focus {
  border-color: var(--accent-color);
}

.customers-list-icon {
  fill: var(--social-link-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover .customers-list-icon,
.customers-link:focus .customers-list-icon {
  fill: var(--accent-color);
}

.customers-list-item {
  box-sizing: border-box;
  flex-basis: calc(100% / 6 - 30px);
  margin-left: 30px;
}

footer {
  background: var(--dark-backgr);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-content {
  display: flex;
  align-items: baseline;
}

.footer-content-item + .footer-content-item {
  margin-left: 70px;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
  margin-top: 20px;
}

.footer-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer-contacts {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts:hover, .footer-contacts:focus {
  color: var(--accent-color);
}

.social-links {
  display: flex;
}

.join {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--white-color);
}

.mailing {
  margin-left: 93px;
}

.mailing--wrapper {
  display: flex;
}

.mailing__input {
  width: 358px;
  height: 50px;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
}

.mailing__input::placeholder {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding: 15px 16px;
  color: rgba(255, 255, 255, 0.6);
}

.mailing__input:focus {
  color: var(--white-color);
  padding: 15px 16px;
}

.mailing__input:not(:placeholder-shown) {
  color: var(--white-color);
  padding: 15px 16px;
}

.list-works-btm {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.works-btm-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btm {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  background: var(--silver-backgr);
  border-radius: 4px;
  border: 0px;
  display: block;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btm:hover, .filter-btm:focus {
  color: var(--white-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.work-card {
  box-sizing: border-box;
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.work-card--list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.work-card--listt > li {
  background: var(--white-color);
}

.work-card--content {
  border: 1px solid var(--work-card-border);
  border-top: none;
  padding: 20px 24px;
}

.work-card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--header-color);
  margin-bottom: 4px;
}

.work-card__description {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--content-color);
}

.work-card:hover, .work-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works-overlay-wrapper {
  position: relative;
  overflow: hidden;
}

.works-overlay-description {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--white-color);
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-overlay-link-wrapper:hover .works-overlay-description,
.works-overlay-link-wrapper:focus .works-overlay-description {
  transform: translateY(0%);
}
/*# sourceMappingURL=main.css.map */