header {
  background: var(--white-color);
  border-bottom: 1px solid var(--header-line);
}

.header {
  display: flex;
  align-items: center;

  & .container {
    display: flex;
    align-items: center;
  }
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  margin-left: 93px;

  &--item:not(:last-child) {
    margin-right: 50px;
  }

  &__links {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-color);

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.current {
  position: relative;
  color: var(--accent-color);
  font-size: 66;

  &::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--accent-color);
  }
}

.header-contacts {
  margin-left: auto;

  .header & {
    display: flex;
    align-items: center;
  }

  &__icon svg:hover,
  &__icon svg:focus {
    fill: var(--accent-color);
    color: var(--accent-color);
  }
}

.contact-links {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--content-color);

  display: inline-flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &__icon {
    fill: currentColor;
    margin-right: 10px;
  }
  &:hover,
  &:focus {
    fill: var(--accent-color);
    color: var(--accent-color);
  }
}
