.hero-backgr {
  background: var(--dark-backgr);

  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-studio-bkg.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--hero-bkg-color);

  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-color);

  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  opacity: 1;

  transform: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;

    &.modal {
      transform: translate(-50%, -50%) scale(0.1);
    }
  }
}
