.list-works-btm {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.works-btm-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btm {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--header-color);
  background: var(--silver-backgr);

  border-radius: 4px;
  border: 0px;

  display: block;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--white-color);
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.work-card {
  box-sizing: border-box;
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;

  &--list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;

    &t > li {
      background: var(--white-color);
    }
  }

  &--content {
    border: 1px solid var(--work-card-border);
    border-top: none;
    padding: 20px 24px;
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--header-color);
    margin-bottom: 4px;
  }

  &__description {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--content-color);
  }

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.works-overlay-wrapper {
  position: relative;
  overflow: hidden;
}

.works-overlay-description {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--white-color);

  padding: 63px 24px;
  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .works-overlay-link-wrapper:hover &,
  .works-overlay-link-wrapper:focus & {
    transform: translateY(0%);
  }
}
