.social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__link {
    display: flex;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: transparent;
    align-items: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }

    &--dark {
      box-sizing: border-box;
      flex-basis: calc(100% / 4 - 10px);
      background: rgba(255, 255, 255, 0.1);
    }

    &--footer + &--footer {
      margin-left: 10px;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: var(--content-color);
    fill: var(--social-link-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .social-list__link:hover &,
    .social-list__link:focus & {
      fill: var(--white-color);
    }

    &--white {
      fill: var(--white-color);
    }
  }
}
