:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --header-color: #212121;
  --content-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --silver-backgr: #f5f4fa;
  --dark-backgr: #2f303a;
  --btm-hover: #188ce8;
  --header-line: #ececec;
  --work-card-border: #eeeeee;
  --padding-value: 94px;
  --hero-bkg-color: #c4c4c4;
  --social-link-color: #afb1b8;
}
